body {
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  --scroll: 0; /* default value */
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
}
/* #content {
  display: none;
} */
i {
  margin: 0 1em 0 1em;
  vertical-align: middle;
}
.highlight {
  background-color: #4f5060;
  color: #f5f5f5;
  padding: 0.5em;
}
.blog-banner {
  width: 100%;
  height: auto;
}
a,
.nav-link,
.a-blog {
  color: black;
  font-weight: 900;
  text-decoration: none;
}

a,
.a-blog:hover {
  color: #fdc600;
}
img {
  width: -webkit-fill-available;
}
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(8, 5, 40, 0.9);
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.closeMsg {
  display: none;
  background-color: rgb(253, 255, 255, 0.5);
}
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  height: 45em;
  width: 100%;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-banner {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}

.typing-container {
  width: 50%;
  padding: 15px;
  background-color: rgba(253, 255, 255, 0.5);
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgba(8, 5, 40, 0.9);
  font-size: 2rem;
  text-shadow: #4f5060 1px 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typing-text {
  font-family: Impact, sans-serif;
  color: rgba(8, 5, 40, 0.9);
  font-size: 4rem;
  text-shadow: #4f5060 1px 1px;
  text-align: center;
}

.typing-text::after {
  content: '|';
  animation: blink 1s step-end infinite;
}

/* ------- new project area ------- */
@keyframes scrollFadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.h2-fadein-title {
  font-size: 72px;
  color: #fdffff;
  animation: scrollFadeIn 5s ease-in-out;
  text-shadow: #4f5060 1px 1px;
}
.language-container {
  display: flex;
  width: 55%;
  justify-content: flex-end;
  flex-direction: row;
}

.language {
  font-family: 'Share Tech', sans-serif;
  padding: 2rem;
  width: 180px;
  height: 460px;
  margin: 0 2rem 0 2rem;
  font-size: 64px;
  animation: scrollFadeIn 3s ease-in-out;
  animation-delay: calc(var(--scroll) * -1s);
  background-color: #050505;
  color: #fdffff;
  writing-mode: vertical-lr;
}
.language:hover {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(255, 217, 0, 0.673) 0 0 12px 5px;
}
.proj-container {
  width: 45%;
}
.proj-lang {
  color: #fdffff;
  height: 460px;
  width: 400px;
  padding: 2rem;
  background-color: rgb(5, 5, 5, 0.9);
  margin-left: 4rem;
  display: none;
  box-shadow: rgba(189, 161, 0, 0.857) 0 0 118px 10px;
  animation: slideIn 3s;
}
.proj-display {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* ------- END new project area ------- */

.group-sections {
  background-color: #fdffff;
}

#about,
#proj,
#tech {
  min-height: fit-content;
  text-align: center;
}

.nav-list:hover,
.nav-list,
.nav-list-extend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 45em;
}

.nav-list > li > a {
  color: #fdffff;
}
.nav-list > li {
  --c: rgba(253, 198, 0, 1);
  color: var(--c);
  font-size: 16px;
  border-bottom: 0.3em solid var(--c);
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}
.nav-list > li > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.nav-list > li:hover {
  color: black;
  list-style-type: none;
}

.nav-list li:hover span {
  list-style-type: none;
  transform: translateY(0) scale(2.5);
}

.nav-list li span:nth-child(1) {
  --n: 1;
}

.nav-list li span:nth-child(2) {
  --n: 2;
}

.nav-list li span:nth-child(3) {
  --n: 3;
}

.nav-list li span:nth-child(4) {
  --n: 4;
}

.rectangular > li {
  font-size: large;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e6d16;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: #fdc600 2px solid;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ------- About me area ------- */
.about-me-title {
  font-size: 72px;
  text-align: left;
  min-width: 10em;
  color: rgba(8, 5, 40, 0.9);
  animation: scrollFadeIn 3s ease-in-out;
  animation-delay: calc(var(--scroll) * -3s);
  text-shadow: #4f5060 1px 1px;
}
@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.about-me-catch {
  font-size: 48px;
  font-family: 'Share Tech', sans-serif;
  color: rgb(253, 255, 255, 0.8);
  animation: pulse 3s infinite;
  text-shadow: #4f5060 1px 1px;
}
.about-me {
  margin: 1em;
  display: block;
  min-width: 20em;
  padding: 1em;
  background-color: rgb(253, 255, 255, 0.3);
}
.circle-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(
      to bottom,
      rgba(235, 235, 235, 0.2),
      rgba(0, 0, 42, 0.7)
    ),
    url('../asset/watercolor_texture_with_gold_glitters_background.jpg');
  background-size: cover;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em;
  padding: 2em;
  background-color: rgba(253, 255, 255, 0.9);
  align-items: stretch;
}

.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fa-regular,
.fa-solid {
  font-size: 40px;
}

.rectangle {
  display: block;
  list-style-type: none;
  min-width: 12em;
  background: rgba(8, 5, 40, 0.9);
  position: relative;
  margin: 10em 2em 0 2em;
  padding: 3em;
}

.circle {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 4px solid white;
  left: 50%;
  margin-left: -45px;
  top: -12%;
  background: #838828;
}
.rectangle:hover,
.rectangle:hover .circle {
  background-color: #fdc600;
}

.linkedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 10px;
  font-size: 40px;
}

.fa-brands.fa-linkedin-in.fa-xl.yellow {
  margin: 2rem;
  color: #fdc600;
}

.fa-linkedin-infa-brands.fa-linkedin-in.fa-xl {
  margin: 1em;
}
.fa-linkedin-in,
.fa-circle-xmark,
.fa-burger,
.fa-database,
.fa-pen-nib,
.fa-rectangle-code {
  position: relative;
  margin: 0.5em;
  color: white;
}

/* ------- blog area ------- */
#blog {
  min-height: fit-content;
  text-align: center;
  margin: 0;
  padding: 0;
}
.blog-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-title-bg {
  font-size: 56px;
  font-family: 'Inter', sans-serif;
  color: rgb(255, 221, 31);
  text-shadow: rgba(10, 10, 10, 0.673) 5px 1px 5px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  top: 1.2em;
  /* animation: scrollFadeIn 3s ease-in-out; */
}

.blog-list-container {
  background-image: url('../asset/dark-gold-bg.jpg');
  background-repeat: repeat;
  background-size: contain;
}
.ul-blog-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
/* .blog-card {
  border: 1px whitesmoke solid;
} */

/* .blog-card:hover {
  background-color: darkgray;
  transition: outline-color 0.5s;
} */

.blog-img {
  margin: 1em;
  max-width: 30em;
}
.blog-img:hover {
  background-color: hsl(60, 100%, 69%);
  box-shadow: 0 0 2em 0.2em hsl(60, 100%, 69%);
  transition: opacity 100ms linear;
}
.blog-content {
  margin: auto;
  width: 90%;
}

.tagBtn {
  margin: 2em;
  align-items: center;
  appearance: none;
  background-color: #f5f5f5;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

/* ------- end ------- */

/* ------- project area ------- */
#proj {
  background-color: lightcyan;
  background-image: url('../asset/watercolor_texture_with_gold_glitters_background.jpg');
  background-size: cover;
  object-fit: cover;
}
.proj-card {
  border: solid 2px white;
  margin: 3em;
  height: 20em;
  width: 20em;
  background-color: rgba(249, 249, 249, 0.9);
  transition: 2s ease-in-out;
}

.proj6,
.proj5,
.proj4,
.proj3,
.proj2,
.proj1 {
  width: 260px;
  height: 260px;
  margin: 0 10px 10px 10px;
  background-repeat: no-repeat;
  /* border: 5px solid rgba(169, 169, 169); */
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  color: transparent;
}
.modal-btn {
  display: block;
  position: relative;
  z-index: 0;
  width: 6em;
  height: 2em;
  padding: 1em;
  margin: auto;
  top: 6em;
  background-color: rgba(249, 249, 249, 0.9);
  border: solid 3px rgba(169, 169, 169, 0.9);
  border-radius: 1em;
}
.modal-btn:hover {
  background-color: rgb(133, 138, 40, 0.9);
}

.proj1 {
  background-image: url('../asset/closet-collection.png');
}
.proj2 {
  background-image: url('../asset/fitLit.png');
}
.proj3 {
  background-image: url('../asset/playpal.png');
}
.proj4 {
  background-image: url('../asset/cookAhead.png');
}
.proj5 {
  background-image: url('../asset/news_reader.png');
}
.proj6 {
  background-image: url('../asset/gitWatch.png');
}

/* ------- end ------- */

.h2-light {
  color: rgba(253, 255, 255, 1);
  text-shadow: gray 2px 3px;
}

.fa-solid.fa-burger {
  display: none;
}

.xmark-hide,
.fa-solid.fa-circle-xmark {
  display: none;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 1.875em;
    text-align: center;
  }
  .fa-solid.fa-burger.burger-hide {
    display: none;
  }
  .fa-solid.fa-circle-xmark.xmark-hide {
    display: block;
  }
  .nav-list.nav-list-extend {
    display: flex;
    flex-direction: column;
    list-style-type: table;
    padding: 0;
    margin: 0;
  }
  .nav-list {
    display: none;
  }
  .nav-list:hover,
  .nav-list {
    width: auto;
  }

  .fa-solid.fa-burger {
    display: block;
  }

  .typing-container {
    margin: auto;
    width: 90%;
  }
  .UXUI-IMG {
    width: 100%;
  }
  .blog-img {
    margin: 0.5em;
    max-width: 10em;
  }
  li.blog-card {
    display: flex;
    flex-direction: column;
  }
  .banner {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-me {
    margin: 0;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
}

.animated-element {
  display: flex;
}
/* Class to apply when the element is in the viewport */
.animate {
  animation: scrollFadeIn 4s ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
