body {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
}

i {
  margin: 0 1em 0 1em;
  vertical-align: middle;
}

a {
  color: black;
  font-weight: 900;
  text-decoration: inherit;
}

.a-blog:hover {
  color: #fdc600;
  border-bottom: #4f5060 solid 2px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(65, 113, 11, 0.9);
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../asset/bailey.jpg");
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  height: 50em;
  width: 100%;
}

.right-banner {
  width: 60%;
}

.left-banner {
  background-color: rgba(253, 255, 255, 0.8);
  text-align: end;
  padding: 2em;
  width: 40%;
}

.typing-container {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: right;
  color: #fdc600;
  font-size: 2rem;
  text-shadow: #4f5060 1px 1px;
}

.typing-text {
  color: #fdc600;
  text-shadow: #4f5060 1px 1px;
}

.typing-text::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.group-sections {
  background-color: #fdffff;
}

#about,
#proj,
#blog,
#tech {
  min-height: fit-content;
  text-align: center;
  margin: 2em 0 2em 0;
  padding: 2em;
}

.nav-list:hover,
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 45em;
}

.nav-list > li > a {
  color: #fdffff;
}
.nav-list > li {
  --c: rgba(253, 198, 0, 1);
  color: var(--c);
  font-size: 16px;
  border-bottom: 0.3em solid var(--c);
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}
.nav-list > li > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.nav-list > li:hover {
  color: black;
  list-style-type: none;
}

.nav-list li:hover span {
  list-style-type: none;
  transform: translateY(0) scale(2.5);
}

.nav-list li span:nth-child(1) {
  --n: 1;
}

.nav-list li span:nth-child(2) {
  --n: 2;
}

.nav-list li span:nth-child(3) {
  --n: 3;
}

.nav-list li span:nth-child(4) {
  --n: 4;
}

.rectangular > li {
  font-size: large;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e6d16;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: #fdc600 1px solid;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.about-img,
.about-me {
  margin: 0 4em 2em 4em;
  display: block;
  max-width: 25em;
  width: auto;
  /* height: auto; */
}

.proj-card,
.about-img {
  min-width: 15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
}

.cards-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
  background-color: rgba(253, 255, 255, 0.2);
}

.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fa-regular,
.fa-solid {
  font-size: 40px;
}

.rectangle {
  display: block;
  list-style-type: none;
  min-width: 12em;
  background: #838828;
  position: relative;
  margin: 10em 2em 0 2em;
  padding: 3em;
}

.circle {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 4px solid white;
  left: 50%;
  margin-left: -45px;
  top: -12%;
  background: #838828;
}
.rectangle:hover,
.rectangle:hover .circle {
  background-color: #fdc600;
}

.linkedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-linkedin-infa-brands.fa-linkedin-in.fa-xl {
  margin: 1em;
}
.fa-linkedin-in,
.fa-circle-xmark,
.fa-burger,
.fa-database,
.fa-pen-nib,
.fa-rectangle-code {
  position: relative;
  margin: 0.5em;
  color: white;
}
.blog-card {
  border: 2px whitesmoke solid;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.blog-card:hover {
  background-color: darkgrey;
}
.blog-img {
  margin: 1em;
  max-width: 30em;
}

#proj {
  background-color: lightcyan;
  background-image: url("../asset/virginia-lackinger-JV0y2YgXJcY-unsplash.jpg");
  background-size: cover;
  object-fit: cover;
}
.proj-card {
  border: solid 2px white;
  margin: 3em;
  height: 20em;
  width: 20em;
  background-color: rgba(249, 249, 249, 0.9);
  transition: 2s ease-in-out;
}

#proj > div > div:nth-child(1):hover {
  background-image: url("../asset/cookAhead.png");
  background-position: center;
  background-size: cover;
  color: transparent;
  transition: 1s;
  transform: rotate(360deg);
}

#proj > div > div:nth-child(2):hover {
  background-color: #4f5060;
  background-position: center;
  background-size: cover;
  color: transparent;
  transition: 1s;
  transform: rotate(360deg);
}

#proj > div > div:nth-child(3):hover {
  background-color: #4f5060;
  background-position: center;
  background-size: cover;
  color: transparent;
  transition: 1s;
  transform: rotate(360deg);
}

#proj > div > div:nth-child(4):hover {
  background-color: #4f5060;
  background-position: center;
  background-size: cover;
  color: transparent;
  transition: 1s;
  transform: rotate(360deg);
}

.h2-light {
  color: rgba(253, 255, 255, 1);
  text-shadow: gray 2px 3px;
}

.blog-content {
  margin: auto;
  width: 66%;
}

.fa-solid.fa-burger {
  display: none;
}

.fa-solid.fa-circle-xmark {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-list {
    display: none;
  }

  .fa-solid.fa-burger {
    display: block;
  }
  .fa-solid.fa-circle-xmark {
    display: none;
  }
  .left-banner {
    width: 100%;
  }
  .right-banner {
    display: none;
  }
  .cards-group {
    margin: 0;
  }
  .blog-img {
    margin: 0.5em;
    max-width: 10em;
  }
  li.blog-card {
    display: flex;
    flex-direction: column;
  }
}
