---
layout: default
---

{% include navbar.html %}
<div class="banner">
  <div class="left-banner">
    <div class="typing-container">
      <h2>Hello, I am <span class="typing-text"> a developer!</span></h2>
      <a onclick="window.location.href='/#proj'">More</a>
    </div>
    
  </div>
  <div class="right-banner"></div>
</div>
<div class="group-sections">
  <section id="about">
    <h2>ABOUT ME</h2>
    <br />
    <div class="about-container">
      <img class="about-img" src="asset/MD and Me.jpeg" />
      <div class="about-me">
        <h2>My name is Patt Sookmark</h2>
        <p>🔥 "From 0-1, to web design fun, making the internet a more awesome place for everyone" 🔥
          <br />
          <br />
After a decade in finance and audit, I pursued my dream of owning a catering business. Although it shut down in 2020, the experience ignited my passion for leveraging technology to overcome challenges faced by small businesses. As a software engineer, I strive to develop innovative solutions that empower small businesses to achieve success in a competitive market.

          <br />
          In my next role, I seek to be part of an autonomous team built on trust, where open communication and constructive feedback are valued. A collaborative and supportive environment that fosters creativity and drives continuous improvement. Working alongside talented individuals who share a common goal is essential to me. I am particularly interested in joining companies in the food tech or education tech industries, as I highly value their potential to create value and enhance performance for small businesses. 
          <br />
          <a href="https://www.linkedin.com/in/pattsookmark/"> <i class="fa-brands fa-linkedin-in fa-xl yellow"></i></a>
          <a href="https://github.com/pattpjy"><i class="fa-brands fa-github-alt fa-xl" ></i></a>
        </p>
      </div>
    </div>
  </section>
  <section id="blog">
    <h2>MY BLOGS</h2>
    <button class="tagBtn" onclick="window.location.href='/tags/thaiwordgame/'">Thai Word Game</button>
    <button class="tagBtn" onclick="window.location.href='/tags/personalgrowth/'">Personal Growth</button>
    <button class="tagBtn" onclick="window.location.href='/tags/backend/'">Back End</button>
    <button class="tagBtn" onclick="window.location.href='/tags/frontend/'">Front End</button>
    <button class="tagBtn" onclick="window.location.href='/tags/uxui/'">UX/UI</button>
   
    <ul>
      {% for post in site.posts %}
      <li class="blog-card">
        <img
          class="blog-img"
          src="{{post.banner_image}}"
          style="width: 250px"
        />
        <div>
          <a class="a-blog" href="{{post.url | prepend: site.baseurl }}">
            <h2>
              <span><i class="fa-duotone fa-bread-slice"></i></span>{{
              post.title }}
            </h2>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="proj">
    <a href="">
      <h2 class="h2-light">PROJECTS</h2>
    </a>
    <div class="cards-group">
      <div class="proj1"><a class="modal-btn" data-micromodal-trigger="modal-1" href="javascript:;">Closet Collection</a> </div>
      <div class="micromodal" id="modal-1" aria-hidden="true">
        <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
          <div
            class="micromodal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-1-title"
          >
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>Closet Collection is your ultimate solution to organize your wardrobe. With this app, you can easily manage your clothing collection, take photos of your clothing items, create custom lists for trips or general organization, and categorize your wardrobe by color, season, and clothing type for easy filtering. You can add notes to your clothing items, such as if you have lent an item to a friend or if it is at the dry cleaners. In addition, you can create personalized lists for events or trips, and add items to the list as packing reminders. Finally, if you ever need to make changes, you can easily delete items from your closet or from a list. Say goodbye to cluttered closets and disorganized trips, and say hello to the perfect wardrobe management tool with Closet Collection.</p>
          </div>
        </div>
      </div>
      <div class="proj2"><a class="modal-btn" data-micromodal-trigger="modal-2" href="javascript:;">FitLit</a> </div>
      <div class="micromodal" id="modal-2" aria-hidden="true">
        <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
          <div
            class="micromodal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-2-title"
          >
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>FitLit is a fitness tracking application that allows users to keep track of their sleep, hydration, and activity data. The application uses a local server and fetch requests to GET and POST data. Error handling has been added to both requests to catch any errors that may occur.

              The application features data visualization using charts from chart.js, presenting all data in a visually pleasing manner. Dayjs has been used to format and standardize dates. Users can add new data for the current day, and once submitted, the charts will update and populate with the latest data. Recursion has been utilized to construct a weeks worth of data if there are gaps in the data' date.
              
              A helper function file has been added to house functions that are used multiple times throughout the project, keeping the code DRY. The application also features a calendar that allows users to manipulate dates and view a wide variety of information from different dates. Users can view their personal information inside an information section.</p>
            <p>Tech Used: Vanilla JS, Mocha, Chai, Git, GitHub, CSS, DayJS, ChartJS</p>
          </div>
        </div>
      </div>
      <div class="proj3"><a class="modal-btn" data-micromodal-trigger="modal-3" href="javascript:;">PlayPal</a> </div>
      <div class="micromodal" id="modal-3" aria-hidden="true">
        <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
          <div
            class="micromodal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-3-title"
          >
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>PlayPal is an innovative mobile application designed to assist first-time mothers who are seeking ideas for safe, enjoyable, and stimulating activities for their children. This app provides a list of activities that can be filtered according to the location of the activity, whether it is an indoor or outdoor activity, and the gross and fine motor skills that the activity promotes.</p>

             <p> PlayPal’s UI is built using React and React Router with styling done using Module CSS. The backend service is created using Express and Postgres. We use Docker to create the Postgres database and write queries to the database using Knex. TablePlus is used to interact with the data in the database. The backend is deployed using Heroku and the frontend UI is deployed using Vercel.</p>
             <p>Tech Used: React, React Router, selectJS Library, Cypress, Git, GitHub, Vercel, Postgres, ExpressJS, NodeJS, Docker</p>
          </div>
        </div>
      </div>
      <div class="proj4"><a class="modal-btn" data-micromodal-trigger="modal-4" href="javascript:;">Cook Ahead</a> </div>
      <div class="micromodal" id="modal-4" aria-hidden="true">
        <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
          <div
            class="micromodal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-4-title"
          >
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>Coming up with meals ideas and making decisions for the family meal plans is hard. Cook Ahead is a meal planning application built with React and React Router. It allows users to generate a list of meal ideas and manage the meal plan by adding and deleting ideas. The application is tested using Cypress for end-to-end testing, and version control is managed with Git and GitHub. Postman is used to test API calls, and the application is deployed with Vercel.It features a responsive layout design with the use of media queries, ensuring optimal user experience across various devices.</p>
            <p>Tech Used: React, React Router, HTML Tag Parser Library, Cypress, Git, GitHub, Vercel, CSS</p>
          </div>
        </div>
      </div>
      <div class="proj5"><a class="modal-btn" data-micromodal-trigger="modal-5" href="javascript:;">News Reader</a> </div>
      <div class="micromodal" id="modal-5" aria-hidden="true">
        <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
          <div
            class="micromodal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-5-title"
          >
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>News Reader is an application that pulls articles from the New York Times API Top Stories API. This application allows users to stay up-to-date with the latest news and events by providing access to top stories from the New York Times.
              News Reader leverages various design patterns, including the Repository pattern, Container and Presentational Components pattern, and Hook pattern. The app is built using Create React App with Vite and is deployed on Vercel.
            </p>
            <p>Tech Used: React, React Router, DayJS, Git, GitHub, Vercel, Postman , CSS</p>
          </div>
        </div>
      </div>
      <div class="proj6"><a class="modal-btn" data-micromodal-trigger="modal-6" href="javascript:;">GitWatch</a> </div>
      <div class="micromodal" id="modal-6" aria-hidden="true">
        <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
          <div
            class="micromodal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-6-title"
          >
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>Git watch is a web app that uses GitHub's GraphQL API to display specific users' public repositories.  This project was an opportunity to learn about GraphQL and how it differs from REST API.</p>
            <p>Tech Used: React, GraphQL, Git, GitHub, Styled Components</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tech">
    <h2>TECH I KNOW</h2>
    <div class="tech">
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-regular fa-rectangle-code"></i>
        </div>
        <h3>FRONT END</h3>
        <li>VANILLA JS</li>
        <li>REACT</li>
        <li>TYPESCRIPT</li>
        <li>CSS, STYLED COMPONENTS</li>
        <li>MOCHA, CHAI</li>
        <li>CYPRESS</li>
   
      </ul>
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-solid fa-pen-nib"></i>
        </div>
        <h3>GRAPHIC</h3>
        <li>ILLUSTRATOR</li>
        <li>CANVA</li>
        <li>MIRO</li>
      </ul>
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-solid fa-database"></i>
        </div>
        <h3>BACK END</h3>
        <li>EXPRESS</li>
        <li>POSTGRES</li>
        <li>KNEX</li>
        <li>DOCKER</li>
        <li>S3 BUCKET</li>
      </ul>
    </div>
  </section>
</div>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js""></script>

