---
layout: default
---

{% include navbar.html %}
<div class="banner">
  <div id="tsparticles" class="tsparticles"></div>
  <div class="left-banner">
    <div class="typing-container">
      <h2>Hello, I am <span class="typing-text"> a developer!</span></h2>
      <!-- <a onclick="window.location.href='/#proj'">Learn more about me</a> -->
    </div>
  </div>
</div>
<div class="group-sections">
  <section id="proj">
    <a href="">
      <h2 class="h2-light">Back</h2>
    </a>
    <h2 class="h2-fadein-title">Skills in Motion: Explore My Web Applications</h2>
    <div class="proj-display">
      <section class="proj-container">  
        <div class="proj-lang" id="ReactJS">
        <p>Closet Collection - React Typescript</p>
        <p>PlayPal - React Typescript</p>
      </div>
      <div class="proj-lang" id="NodeExpress">
        <p>Express Server SQlite Database Template - Node Express</p>
      </div>
      <div class="proj-lang" id="VuePython">
        <p>Budget Planner - Vue with Local Storage</p>
      </div></section>
    
      <section class="language-container"> 
        <div class="language" onclick="openProject('ReactJS')">REACT TYPESCRIPT
      </div>
      <div class="language" onclick="openProject('NodeExpress')">NODE EXPRESS
      </div>
      <div class="language" onclick="openProject('VuePython')">VUE PYTHON
      </div></section>
     
    </div>   
  </section>
  <section id="about">
    <h2>ABOUT ME</h2>
    <br />
    <div class="about-container">
      <img class="about-img" src="asset/MD and Me.jpeg" alt="Image of me"/>
      <div class="about-me">
        <h2>My name is Patt Sookmark</h2>
        <p>🔥 "From 0-1, to web design fun, making the internet a more awesome place for everyone" 🔥
          <br />
          <br />
After a decade in finance and audit, I pursued my dream of owning a catering business. Although it shut down in 2020, the experience ignited my passion for leveraging technology to overcome challenges faced by small businesses. As a software engineer, I strive to develop innovative solutions that empower small businesses to achieve success in a competitive market.

          <br />
          In my next role, I seek to be part of an autonomous team built on trust, where open communication and constructive feedback are valued. A collaborative and supportive environment that fosters creativity and drives continuous improvement. Working alongside talented individuals who share a common goal is essential to me. I am particularly interested in joining companies in the food tech or education tech industries, as I highly value their potential to create value and enhance performance for small businesses. 
          <br />
          <a alt="linkedin" href="https://www.linkedin.com/in/pattsookmark/"> <i class="fa-brands fa-linkedin-in fa-xl yellow"></i></a>
          <a alt="github" href="https://github.com/pattpjy"><i class="fa-brands fa-github-alt fa-xl yellow" ></i></a>
        </p>
      </div>
    </div>
  </section>
  <section id="blog">
    <h2>MY BLOGS</h2>
    <button class="tagBtn" onclick="window.location.href='/tags/thaiwordgame/'">Thai Word Game</button>
    <button class="tagBtn" onclick="window.location.href='/tags/personalgrowth/'">Personal Growth</button>
    <button class="tagBtn" onclick="window.location.href='/tags/backend/'">Back End</button>
    <button class="tagBtn" onclick="window.location.href='/tags/frontend/'">Front End</button>
    <button class="tagBtn" onclick="window.location.href='/tags/uxui/'">UX/UI</button>
    <ul>
      {% for post in site.posts %}
      <li class="blog-card">
        <img
          class="blog-img"
          alt="{{post.title }}"
          src="{{post.banner_image }}"
          style="width: 250px"
        />
        <div>
          <a alt="{{post.title }}" class="a-blog" href="{{post.url | prepend: site.baseurl }}">
            <h2>
              <span><i class="fa-duotone fa-bread-slice"></i></span>{{
              post.title }}
            </h2>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  

  <section id="tech">
    <h2>TECH I KNOW</h2>
    <div class="tech">
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-regular fa-rectangle-code"></i>
        </div>
        <h3>FRONT END</h3>
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>TYPESCRIPT</li>
        <li>CSS, STYLED COMPONENTS</li>
        <li>MUI, PRIMEREACT</li>
        <li>MOCHA, CHAI</li>
        <li>CYPRESS</li>
   
      </ul>
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-solid fa-pen-nib"></i>
        </div>
        <h3>DESIGN TOOLS</h3>
        <li>ILLUSTRATOR</li>
        <li>CANVA</li>
        <li>MIRO</li>
        <li>FIGMA</li>
      </ul>
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-solid fa-database"></i>
        </div>
        <h3>BACK END</h3>
        <li>EXPRESS</li>
        <li>POSTGRES</li>
        <li>PYTHON</li>
        <li>AWS IAM</li>
        <li>DOCKER</li>
        <li>S3 BUCKET</li>
      </ul>
    </div>
  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/tsparticles-slim@2.0.6/tsparticles.slim.bundle.min.js"></script>
<script type="text/javascript">
  // All options can be found here: https://particles.js.org/docs/interfaces/Options_Interfaces_IOptions.IOptions.html
  // The slim version doesn't have the following plugins:
  // Absorbers, Emitters, PolygonMask, Interactivity Trail
  const options = {
    fullScreen: {
      enable: false,
    },
    background: {
      color: { value: '#ea86c0'}, // the canvas background color
     image: "url('./asset/firework-bg.jpg')",
     position:'center',
     repeat: 'no-repeat',
    size: 'cover',
    },

    backgroundMask: {
    composite: 'destination-out',
    cover: { color: { value: { r: 0, g: 0, b: 0 } }, opacity: 0.95 },
    enable: true,
  },
    interactivity: {
      events: {
        onClick: {
          // this handles the mouse click event
          enable: true,
          mode: 'push', // this adds particles
          parallax: { enable: false, force: 2, smooth: 10 }
        },
        onHover: {
          // this handles the mouse hover event
          enable: true,
          mode: 'repulse', // this make particles move away from the mouse
        },
      },
      modes: {
        push: {
          quantity: 6, // number of particles to add
        },
        repulse: {
          distance: 100, // the distance of the particles from the mouse
        },
      },
    },
    particles: {
      links: {
        enable: false, // this enables links between particles
        opacity: 0.3,
        distance: 200,
      },
      move: {
        enable: true, // this makes particles move
        speed: { min: 1, max: 3 }, // this is the speed of the particles
      },
      opacity: {
        value: { min: 0.3, max: 0.7 }, // this sets the opacity of the particles
      },
      size: {
        value: { min: 1, max: 50 }, // this sets the size of the particles
      },
    },
  };

  // tsParticles.load has two parameters, the first one is the id of the container, the second one is an object with the options
  tsParticles.load('tsparticles', options);
</script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js""></script>

