---
layout: default
---

{% include navbar.html %}
<div class="banner">
  <div class="left-banner">
    <div class="typing-container">
      <h2>Hello, I am <span class="typing-text"> a developer!</span></h2>
    </div>
    <button onclick="window.location.href='/#proj'">More</button>
  </div>
  <div class="right-banner"></div>
</div>
<div class="group-sections">
  <section id="about">
    <h2>ABOUT ME</h2>
    <br />
    <div class="cards-group">
      <img class="about-img" src="asset/MD and Me.jpeg" />
      <div class="about-me">
        <h2>My name is Patt Sookmark</h2>
        <p>
          After several years of economics data analysis and financial audit, I
          found myself an opportunity able to run my own catering company. While
          working as a small business owner, I honed my skill of
          problem-solving, optimized business operations, and continuous
          learning. My passion involves helping small businesses be able to
          focus on the thing they love and be able to compete and to be
          successful through the use of technology."
          <br />
          <br />
          <i class="fa-brands fa-linkedin-in fa-xl"></i>
          <i class="fa-brands fa-github-alt fa-xl"></i>
        </p>
      </div>
    </div>
  </section>
  <section id="blog">
    <h2>MY BLOGS</h2>
    <ul>
      {% for post in site.posts %}
      <li class="blog-card">
        <img
          class="blog-img"
          src="{{post.banner_image}}"
          style="width: 250px"
        />
        <div>
          <a class="a-blog" href="{{post.url | prepend: site.baseurl }}">
            <h2>
              <span><i class="fa-duotone fa-bread-slice"></i></span>{{
              post.title }}
            </h2>
          </a>

          <p>{{ post.date}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="proj">
    <h2 class="h2-light">PROJECTS</h2>
    <div class="cards-group">
      <div class="proj-card">
        <h2>Project Name</h2>
        <p>Solo</p>
        <p>Description</p>
        <img />
      </div>
      <div class="proj-card">
        <h2>Project Name</h2>
        <p>Solo</p>
        <p>Description</p>
        <img />
      </div>
      <div class="proj-card">
        <h2>Project Name</h2>
        <p>Solo</p>
        <p>Description</p>
        <img />
      </div>
    </div>
  </section>

  <section id="tech">
    <h2>TECH I KNOW</h2>
    <div class="tech">
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-regular fa-rectangle-code"></i>
        </div>
        <h3>Front-End</h3>
        <li>VANILLA JS</li>
        <li>REACT</li>
        <li>CSS</li>
        <li>MOCHA CHAI</li>
        <li>CYPRESS</li>
      </ul>
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-solid fa-pen-nib"></i>
        </div>
        <h3>GRAPHIC</h3>
        <li>ILLUSTRATOR</li>
        <li>PHOTOSHOP</li>
        <li>MIRO</li>
      </ul>
      <ul class="rectangle">
        <div class="circle">
          <i class="fa-solid fa-database"></i>
        </div>
        <h3>BACK END</h3>
        <li>EXPRESS</li>
        <li>POSTGRES</li>
        <li>TABLEPLUS</li>
      </ul>
    </div>
  </section>
</div>
<script src="./index.js"></script>
<!-- </body>
</html> -->
