
<div class="nav-bar">
  <a class="linkedin" href="https://www.linkedin.com/in/pattsookmark/"> <i class="fa-brands fa-linkedin-in fa-xl"></i></a>
  <div class="header">
    <ul class="nav-list">
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="{{ "/" | prepend: site.baseurl}}">Home</a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="{{ "/#about" | prepend: site.baseurl }}"> About </a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="{{ "/#blog" | prepend: site.baseurl }}"> Blog </a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="#proj"> Proj </a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="#tech"> Tech </a>
    </ul>
    <i class="fa-solid fa-burger" onclick="openBurger()"></i>
    <i class="fa-solid fa-circle-xmark" onclick="closeBurger()"></i>
  </div>
</div>
