---
---
<div class="nav-bar">
  <a class="logo">PS PATT.</a>
  <div class="header">
    <ul class="nav-list">
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="{{ "/" | prepend: site.baseurl}}">Home</a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="{{ "/#about" | prepend: site.baseurl }}"> About </a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="#blog"> Blog </a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="#proj"> Proj </a>
      </li>
      <li>
        <span></span><span></span><span></span><span></span>
        <a class="nav-link" href="#tech"> Tech </a>
    </ul>
  </div>
</div>
