<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio Presentation</title>

    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl
    }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela%20Round"
    />
  </head>
  <body>
    {{content}}
  </body>
  <script
    src="https://kit.fontawesome.com/103e31ca68.js"
    crossorigin="anonymous"
  ></script>
  <script src="{{ site.baseurl }}/index.js"></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-CZHXH91YBW"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-CZHXH91YBW");
  </script>
</html>
