<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      JS Software Developer | Whipping Up Innovative Solutions for Delight User
      Experiences
    </title>
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl
    }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Share+Tech&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela%20Round"
    />
  </head>
  <body onload="loader()">
    <div id="loader">
      <i
        class="fa-solid fa-heart-pulse fa-beat"
        style="--fa-animation-duration: 0.5s"
      ></i>
    </div>
    <div id="content">{{content}}</div>
  </body>
  <footer id="footer" class="footer">
    <div class="footer-content">
      <div class="contact-info">
        <h3>Contact Information</h3>
        <p>Email: witty.tent5812@m-mail.work</p>
      </div>

      <div class="social-links">
        <h3>Connect with Me</h3>
        <a alt="linkedin" href="https://www.linkedin.com/in/pattsookmark/">
          <i class="fa-brands fa-linkedin-in fa-xl yellow"></i
        ></a>
        <a alt="github" href="https://github.com/pattpjy"
          ><i class="fa-brands fa-github-alt fa-xl yellow"></i
        ></a>
      </div>

      <div class="copyright">
        <p>&copy; 2024 Patt Sookmark. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <script
    src="https://kit.fontawesome.com/103e31ca68.js"
    crossorigin="anonymous"
  ></script>
  <script src="{{ site.baseurl }}/index.js"></script>
</html>
 
